<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action="">
  {% csrf_token %}
  {{ formset.management_form}}
  <table>
    <thead>
      <tr>
            <th>StudentName</th>
            <th>StudentEmail</th>
            <th>Present</th>
            <th>Absent</th>
            <th>Excused</th>
            <th>Leave</th>
            <th>comment</th>
      </tr>
    </thead>
    <tbody>
      {% for form in formset %}
        <tr>
            <td hidden>{{form.id}}</td>
            <td hidden>{{form.course_id}}</td>
            <td>{{form.user_name}}</td>
            <td>{{form.user_email}}</td>
            <td>{{form.is_present}}</td>
            <td>{{form.is_absent}}</td>
            <td>{{form.is_excused}}</td>
            <td>{{form.is_leave}}</td>
            <td>{{form.comment}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <input type="submit" value="Save">
  </form>

</body>
</html>