<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>attendance form page</title>
</head>
<body>
<form method="POST">
{%csrf_token%}
    session <input type="text" id="title" name="title"><br>
    Date <input type="date" id="sdate" name="sdate"><br>
    Start Time<input type="time" id="stime" name="stime"><br>
    End Time<input type="time" id="etime" name="etime"><br>
    Description<input type="textarea" id="description" name="description"><br>
    <input type="submit" name="submit">
</form>
</body>
</html>