<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action="/{{course_id}}/update">
  {% csrf_token %}
  {{ formset.management_form}}
  <table>
    <thead>
      <tr>
<!--            <th>id</th>-->
<!--            <th>course_id</th>-->
            <th>Category</th>
            <th>Description</th>
            <th>Points</th>
            <th>Active</th>
            <th>Automatically set when not marked</th>
      </tr>
    </thead>
    <tbody>
      {% for form in formset %}
        <tr>
            <td>{{form.id}}</td>
            <td hidden>{{form.course_id}}</td>
            <td>{{form.category}}</td>
            <td>{{form.description}}</td>
            <td>{{form.points}}</td>
            <td>{{form.is_active}}</td>
            <td>{{form.is_default}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <input type="submit" value="Save">
  </form>

</body>
</html>