<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History</title>
</head>
<body>
<form>
    {% csrf_token %}
<table>
         <tr>
             <th>Username</th>
             <th>Event</th>
             <th>Section ID</th>
             <th>Session Id</th>
             <th>IP Address</th>
             <th>Download data</th>
            </tr>
            {% for item in history %}
                <tr>
                    <td>{{item.user__user_email}}</td>
                    <td>{{item.event}}</td>
                    <td>{{item.section_id}}</td>
                    <td>{{item.session_id}}</td>
                    <td>{{item.user_ip}}</td>
                    <td>{{item.data}}</td>
                </tr>
            {% endfor %}
    </table>
    </form>
</body>
</html>