<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="">Add Session</a>
<form>
    {% csrf_token %}
<table>
         <tr>
             <th>Session</th>
             <th>StartTime</th>
             <th>EndTime</th>
             <th>Description</th>
             <th>action</th>
            </tr>
            {% for item in session %}
                <tr>
                    <td>{{item.title}}</td>
                    <td>{{item.start_time}}</td>
                    <td>{{item.end_time}}</td>
                    <td>{{item.description}}</td>
                    <td>
                        <a href="/{{course_id}}/add_session">Click here</a>
                    </td>
                </tr>
            {% endfor %}
    </table>
    </form>

</body>
</html>