<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Description</th>
                <th>Points</th>
                <th>Active</th>
                <th>Automatically set when not marked</th>
            </tr>
        </thead>
        <tbody>

                <form method="POST" action="/{{course_id}}/update">
                    {% for point in points %}
                    {% csrf_token %}
                    <tr>
                        <td>
                            <input type="text" name="category" id="category" required maxlength="254" value="{{ point.category }}" />
                        </td>
                        <td>
                            <input type="text" name="description" id="description" required maxlength="254" value="{{ point.description }}" />
                        </td>
                        <td>
                            <input type="text" name="points" id="points" required style="width:50px;" value="{{ point.points }}" />
                        </td>
                        <td>
                            {% if point.is_active == 1 %}
                                <input type="checkbox"  name="is_active"  value="1" checked >
                            {% else %}
                                <input type="checkbox"  name="is_active" value="0">
                            {% endif %}
                        </td>
                         <td>
                             {% if point.is_default == 1 %}
                                <input type="radio"  name="is_default" value="1" checked>
                            {% else %}
                                <input type="radio"  name="is_default" value="0">
                            {% endif %}
                        </td>
                    </tr>


                {% endfor %}

                <button type="submit" name="update">Update</button>
            </form>
        </tbody>

    </table>

</body>
</html>